@model List<APIConsume.ViewModel.EmployeeVM>

@{
    ViewData["Title"] = "Get";
    Pagination pager = new Pagination();
    int pageNo = 0;
    int Srno = 0;
    if(ViewBag.pager != null)
    {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }
}

<body>
    <div class="d-flex align-items-center mt-4">
        
            <h1>Employee List</h1>
           @*  <form asp-controller="Home" asp-action="Get">
                <span>
                    <input placeholder="Search" type="text" name="SearchText" class="form-control" />
                    <input type="button" />
                </span>
            </form> *@
            <div class="dropdown ms-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Select
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" asp-action="Get" asp-route-pg="1" asp-route-pageSize="10" value="10">10</a></li>
                    <li><a class="dropdown-item" asp-action="Get" asp-route-pg="1" asp-route-pageSize="25" value="25">25</a></li>
                    <li><a class="dropdown-item" asp-action="Get" asp-route-pg="1" asp-route-pageSize="50" value="50">50</a></li>
                    <li><a class="dropdown-item" asp-action="Get" asp-route-pg="1" asp-route-pageSize="100" value="100">100</a></li>
                </ul>
            </div>
         
        
        <a asp-action="CreateEmployee" class="btn btn-info text-decoration-none ms-auto" style="color: black;">
            Create New
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Sr no</th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email Id
                </th>
                <th>
                    Username
                </th>
                <th>
                    Password
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Srno = Srno + 1;
                <tr>
                    <td>
                        @Srno
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Update", new {  id=item.Id  }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* <partial name="_pager" model="@pager" /> *@
    <div class="container">
        <nav aria-label="...">
            @if (pager.TotalPages > 0)
            {
                <ul class="pagination justify-content-end">
                    @if (pager.CurrentPage > pager.StartPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Get" asp-route-pg="1" asp-route-pageSize="value">
                                First
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Get" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-pageSize="value">
                                Previous
                            </a>
                        </li>
                    }

                    @for (var pg = pager.StartPage; pg <= pager.EndPage; pg++)
                    {
                        <li class="page-item @(pg == pager.CurrentPage ? "active":"")">
                            <a class="page-link" asp-controller="Home" asp-action="Get" asp-route-pg="@pg" asp-route-pageSize="value">@pg</a>
                        </li>
                    }

                    @if (pager.CurrentPage < pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Get" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-pageSize="value">
                                Next
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Get" asp-route-pg="@(pager.TotalPages)" asp-route-pageSize="value">
                                Last
                            </a>
                        </li>
                    }
                </ul>
            }
        </nav>
    </div>
</body>

